body {
     margin: 0;
     padding: 0;
     user-select: none;
}

#header {
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 5px;
  font-size: 17px;
  margin-left: 3px;
  margin-right: 3px;
}

#gridContainer {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  margin-left: 8px;
  margin-right: 8px;

}

.modeSelector {
  overflow: hidden;
}

.modeSelector, #modernImg, #allTimeImg, #warriorsImg, #allDefenseImg, #allLakersImg, #allCelticsImg {
  height: 400px;
  position: relative;
  transition: 0.3s;
}


.modeSelector h1 {
  position: absolute;
  bottom: 0;
  margin-left: 20px;
  color: white;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 5px;
  font-size: 17px;
}

.modeSelector .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
}

.modeSelector .text {
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  font-family: 'Quicksand', sans-serif;
}

.modernText {
  background-color: #006BB6;
}

.allTimeText {
  background-color: #CE1141;
}

.warriorsText {
  background-color: #002F6C;
}

.defensiveText {
  background-color: #000000;
}

.lakersText {
  background-color: #552583;

}

.celticsText {
  background-color: #007A33;
}

.modeSelector:hover #modernImg{
  filter: blur(2px);
  transform: scale(1.1);
}

.modeSelector:hover #allTimeImg{
  filter: blur(2px);
  transform: scale(1.1);
}

.modeSelector:hover #warriorsImg{
  filter: blur(2px);
  transform: scale(1.1);
}

.modeSelector:hover #allLakersImg{
  filter: blur(2px);
  transform: scale(1.1);
}

.modeSelector:hover #allDefenseImg{
  filter: blur(2px);
  transform: scale(1.1);
}

.modeSelector:hover #allCelticsImg{
  filter: blur(2px);
  transform: scale(1.1);
}

.modeSelector:hover .middle {
  opacity: 1;
}


#modernImg {
  background:linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,1)), url("../images/harden1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#allTimeImg {
  background:linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,1)), url("../images/jordan1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#warriorsImg {
  background:linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,1)), url("../images/curry1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#allDefenseImg {
  background:linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,1)), url("../images/kawhi1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#allLakersImg {
  background:linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,1)), url("../images/lakers1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#allCelticsImg {
  background:linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,1)), url("../images/garnett1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


@media(max-width: 768px){
  #gridContainer {
    grid-template-columns: 1fr;
  }

  .modeSelector, #modernImg, #allTimeImg, #warriorsImg, #allDefenseImg, #allLakersImg, #allCelticsImg {
    height: 250px;
  }
}
